In [1]:
import pandas as pd
import numpy as np

## NaN is float

In [2]:
a = pd.Series([1, 2, np.nan, 4])
a

0    1.0
1    2.0
2    NaN
3    4.0
dtype: float64

In [3]:
b = pd.Series([1,2,3,4])
b

0    1
1    2
2    3
3    4
dtype: int64

## Detecting NaN

#### pd.isna() and pd.notna()

In [5]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
array

array([[ 1., nan,  3.],
       [ 4.,  5., nan]])

In [6]:
pd.isna(array)

array([[False,  True, False],
       [False, False,  True]])

In [7]:
df = pd.DataFrame([['ant', 'bee', 'cat'], ['dog', None, 'fly']])
df

     0     1    2
0  ant   bee  cat
1  dog  None  fly

In [8]:
pd.notna(df)

      0      1     2
0  True   True  True
1  True  False  True