In [2]:
import numpy as np
import pandas as pd

In [16]:
s1 = pd.Series(['a1','b1','c1','d1'])
s2 = pd.Series(['a2','b2','c2'])

In [17]:
s1

0    a1
1    b1
2    c1
3    d1
dtype: object

In [18]:
s2

0    a2
1    b2
2    c2
dtype: object

# concat()

In [19]:
pd.concat([s1,s2],axis=1)

    0    1
0  a1   a2
1  b1   b2
2  c1   c2
3  d1  NaN

In [9]:
pd.concat([s1,s2],axis=0)

0    a1
1    b1
2    c1
0    a2
1    b2
2    c2
dtype: object

In [10]:
pd.concat([s1,s2],ignore_index = True)

0    a1
1    b1
2    c1
3    a2
4    b2
5    c2
dtype: object

In [23]:
# hierarchical index
pd.concat([s1,s2], keys = ['series_1','series_2'])

series_1  0    a1
          1    b1
          2    c1
          3    d1
series_2  0    a2
          1    b2
          2    c2
dtype: object

In [24]:
pd.concat([s1,s2], keys = ['series_1','series_2'], 
          names = ['outer index','inner index'])

outer index  inner index
series_1     0              a1
             1              b1
             2              c1
             3              d1
series_2     0              a2
             1              b2
             2              c2
dtype: object