In [1]:
import numpy as np
import pandas as pd

In [4]:
d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}
df = pd.DataFrame(d,index = [100,200,300,400])
df

     one  two
100  1.0  4.0
200  2.0  3.0
300  3.0  2.0
400  4.0  1.0

In [5]:
df.index

Int64Index([100, 200, 300, 400], dtype='int64')

In [6]:
df.columns

Index(['one', 'two'], dtype='object')

In [8]:
df.dtypes

one    float64
two    float64
dtype: object

In [9]:
df.values

array([[1., 4.],
       [2., 3.],
       [3., 2.],
       [4., 1.]])

In [10]:
df.axes

[Int64Index([100, 200, 300, 400], dtype='int64'),
 Index(['one', 'two'], dtype='object')]

In [12]:
df.ndim

2

In [13]:
df.shape

(4, 2)

In [14]:
df.size

8